/*---------------------------------------------Fonts-----------------------------*/

.title {
    font-family: 'Bungee Shade', sans-serif;
    color: #282a29;
    text-align: center;
    font-size: 4em;
    margin-top: -50px;
}

.instructions-overlay {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    color: white;
    font-family: 'Bungee Shade', sans-serif;
    font-size: 2.5em;
}

.instructions-overlay.visible {
    display: flex;
    flex-direction: column;
    background-color: (0,0,0,0);
}
.instructions-text-lg {
    font-size: 3em;
}

.game-over-overlay {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    font-family: 'Bungee Shade';
    font-size: 4em;
    color: white;
}

.game-over-overlay.visible {
    display: flex;
    flex-direction: column;
}
.game-over-text-sm {
    font-size: .5em
}
.time-score {
    font-family: 'Bungee Inline', sans-serif;
    color: #282a29;
    font-size: 2em;
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    height: 100vh;
    background-image: url(assets/images/rugby-stadium.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*---------------------------------------------------------Game Board-------------------------*/

.rugby-pitch {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    margin: 25px;
    margin-top: -70px;
    justify-content: center;
    perspective: 1000px;
}

.referee-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

/*-----------------------------------------------------cards-------------------------------------------*/
/*---temp card colors----*/
.play-card {
    position: relative;
    background-color: #00000000;
    border-radius: 5px;
    height: 175px;
    width: 125px;
}

.play-card:visible .backside {
    transform: rotateY(-180deg);
}

.play-card:visible .frontside {
    transform: rotateY(0)
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.frontside {
    transform: rotateY(180deg);
}

.ball {
    position: absolute;
    width: 100%;
    transition: all .2s ease-in-out;
}

.backside:hover .ball {
    transform: scale(1.1);
}

/* .front-trans {
    position: absolute;
    width: 100%;
    transition: all .2s ease-in-out;
}

.frontside:hover .front-trans {
    transform: scale(1.1);
} */